function bar() {
    const a = `可以在\${}中进行一些支持的运算。${Math.PI * 2} is PI`;
    const b = `转义的字符也会被正确处理\`,Dont worry.`
    const c = `\${} 这个不会被误处理,${ 'c' + '\}'} 这个也不会被误处理`
    let f=1;let d=3;const v=4; // 不换行也可以检测到
    return `the result is ${a} ${b} ${c+f+d+v}`
}

// 兼容换行
function muilti(radius, colors,i,num) {
    return `width:${2*radius}px;height:${2*radius}px;
          clip-path: ellipse(50% 50% at 50% ${100 + (Math.abs(radius * Math.cos(Math.PI / num)))/(2*radius)*100}%);
          top:-${Math.abs(radius * Math.cos(Math.PI / num)) -.5}px;
          background: ${colors[(i==num && (i-1)%colors.length == 0) ? 1:(i-1)%colors.length]};
      `
}
module.exports = {
    foo: foo
}